<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'main/css/home.css'%}" type="text/css">
    <title>Shmetflix</title>
</head>
<body>
    <!--  Header  -->
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <img height="75" width="155" src="static/main/images/shmetflix_logo.png" alt="logo">
                </div>
                <nav class="nav">
                    <a class="button" href="#">Sign in</a>
                </nav>
            </div>
        </div>
    </header>

    <!--  Intro  -->
    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <div class="intro__title">
                    <h1 class="intro__h1">Unlimited movies, TV <br>shows, and more.</h1>
                    <h2 class="intro__h2">Watch anywhere. Cancel anytime.</h2>
                    <h3 class="intro__h3">Ready to watch? Enter your email to create or restart your membership.</h3>
                </div>
            </div>
        </div>
    </div>

    <!--  Features  -->
    <div class="feature1">
        <div class="features_container">
            <div class="watchOnTv">
                <h1 class="watchOnTv__title">
                    Enjoy on your TV.
                </h1>
                <h2 class="watchOnTv__subtitle">
                    Watch on Smart TVs, Playstation, Xbox,<br>Chromecast, Apple TV, Blu-ray players,
                    and<br>more.
                </h2>
            </div>
        </div>
    </div>

    <div class="feature2">
        <div class="features_container">
            <div class="downloadAndWatch">
                <h1 class="downloadAndWatch__title">
                    Download your shows<br>to watch offline.
                </h1>
                <h2 class="downloadAndWatch__subtitle">
                    Save your favorites easily and always have<br>something to watch.
                </h2>
            </div>
        </div>
    </div>

    <div class="feature3">
        <div class="features_container">
            <div class="watchOnDevice">
                <h1 class="watchOnDevice__title">
                    Watch everywhere.
                </h1>
                <h2 class="watchOnDevice__subtitle">
                    Stream unlimited movies and TV shows<br>on your phone, tablet, laptop, and TV<br>without paying more.
                </h2>
            </div>
        </div>
    </div>

    <div class="feature4">
        <div class="features_container">
            <div class="kidsValueProp">
                <h1 class="kidsValueProp__title">
                    Create profiles for<br>kids.
                </h1>
                <h2 class="kidsValueProp__subtitle">
                   Send kids on adventures with their<br>favorite characters in a space made just<br>for them—free with your membership.
                </h2>
            </div>
        </div>
    </div>
</body>